.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  transform: translateY(30px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-move 1s ease-in-out infinite;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-text {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #91ceff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a.App-link {
  color: #d118ff
}

a.App-logo {
  height: 30vmin;
  display: block;
  
  transform: translateY(-300px);
}

.App-text {
  font-size: 30pt;
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-move {
  0% {
    transform: translateX(-300px);
  }

  50% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(-300px);
  }
}